/**********************************************************/
/*                       MFE.css                          */
/*                                                        */
/* For Monthly Fretboard Exercises                        */
/* e.g. BGS/Aug2024.html                                  */
/*                                                        */
/**********************************************************/
body {
   background-color: #eee;
   /* font-family: Century SchoolBook, Times New Roman, Times, serif; */
   font-family: Helvetica, sans-serif;
   font-size: medium;
}

.ftbd {
   width: 100%;
}

.papr {
   background-color: #fff;
   max-width: 700px;
   font-size: calc(min(1em, 1.95vw));
   margin: auto;
   padding: 0em 3em 2em;
   border-width: 0.2em 0.3em 0.4em;
   border-style: solid;
   border-color: #ddd;
}

.nav {
   display: grid;
   grid-template-columns: auto auto auto;
   font-size: 1.5em;
   margin-top: 1.2em;
   margin-bottom: 0em;
}

.prev {
   text-align: left;
}

.mnth {
   text-align: center;
   font-weight: bold;
}

.next {
   text-align: right;
}

.nav a {
   text-decoration: none;
}

.nav a:link {
   color: #eee;  
}

.nav a:visited {
   color: #eee;  
}

.nav a:hover {
   color: #0cf;
}

.nav a:active {
   color: #f00;
}

.titl {
   text-align: center;
   font-size: 1.2em;
   font-weight: bold;
   margin-top: 1em;
}

.main {
   display: grid;
   grid-template-columns: 30% auto;
   font-size: 1.4em;
   column-gap: 3.0em;
   margin-top: 1.2em;
   margin-bottom: 1.2em;
   margin-left: 1.1em;
}

.lnks {
   display: grid;
   grid-template-rows: auto auto auto;
   font-size: 1.0em;
   row-gap: 1.0em;
   margin-right: 3.0em;
}

.bout {
   text-align: left;
}

.bout img {
   width: 100%;
}

.ltst {
   text-align: left;
}

.cmpl {
   text-align: left;
}

.musx {
   text-align: left;
}

.mitm {
   display: grid;
   grid-template-columns: 1fr 3fr 5fr;
   font-size: 1.0em;
   margin-top: 1.0em;
   margin-bottom: 0em;
}

.mdat {
   font-size: 1.0em;
}

.mimg {
   width: 13em;
}

.mttl {
   font-size: 1.0em;
}

.iltrid {
   height: 1em;  /* so jumped-to letter remains visible */
}

.iltr {
   text-align: center;
   font-size: 1.3em; 
}

.ix {
   display: grid;
   grid-template-columns: 20% 80%
}

.id {
   text-align: left;
}

.it {
   text-align: left;
}

.container {
   margin: auto;
   width: 85%;
}

.container a {
   text-decoration: none;
   color: #06c;
}

.container a:active {
   color: #f00;
}

.letters {
   text-align: center;
   color: #00e;
   margin-top: 1em;
   font-size: 1.2em;
}



.foot {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   max-width: 700px;
   margin: auto;
   margin-top: 1em;
   font-family: Helvetica, Arial, sans-serif;
   font-weight: normal;
   font-size: 0.8em;
}
.footL {
   text-align: left;
}
.footC {
   text-align: center;
}
.footR {
   text-align: right;
}

.copyr {
   display: grid;
   grid-template-columns: auto auto;
   column-gap: 1.5em;
   width: 80%;
   margin: auto;
   margin-top: 0.9em;
   margin-bottom: 2.0em;
   font-family: Helvetica, Arial, sans-serif;
   font-weight: normal;
   font-size: calc(min(0.8em, 1.56vw));
}
.copyr-mfe {
   margin-top: auto;
   margin-bottom: auto;
   text-align: right;
   font-size: 1.5em;
}

